<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FolderTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FolderTray.Properties.Settings>
            <setting name="WinLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="onTopCheck" serializeAs="String">
                <value>False</value>
            </setting>
        </FolderTray.Properties.Settings>
    </userSettings>
</configuration>